.chat-main__message
  .chat-main__message-name
    = message.user.name
  .chat-main__message-time
    = l message.created_at, format: :long
  %p.chat-main__message-body
    = message.content
  = image_tag message.image.url, width: 128, class: 'lower-message__image' if message.image.present?
