.notification
  .notice  チャットグループが作成されました。
.chat-side
  .chat-side__user
    .chat-side__user-content
      .chat-side__user-name  matsumoto
      .chat-side__user--new-group
      .chat-side__user--edit-user
  .chat-side__groups
    .chat-side__groups-list
      %a
        .chat-side__group
          .chat-side__group-name  test1
          .chat-side__group-message  nanananana
      %a
        .chat-side__group
          .chat-side__group-name  test2
          .chat-side__group-message  gagagagaga
.chat-main
  .chat-main__header
    .chat-main__header--group.clearfix
      .chat-main__header--group-name  group1
      .chat-main__header--group-edit-btn
    .chat-main__header-members  satoshi
  .chat-main__body
    .chat-main__body--messages-list
      .chat-main__message.clearfix
        .chat-main__message-name
        .chat-main__message-time
        .chat-main__message-body
          .chat-main__message-body-image
  .chat-main__footer
    %form.chat-main__footer-form
      .chat-main__footer-body
        %input.message
        %label.chat-file
      %input.submit
