.chat-main {
  height: 100vh;
  width: calc(100vw - 300px);
  float: left;
  &__header {
    border: 1px #eeeeee;
    &--group {
      margin: 0 40px;
    }
  }
  &__header-members {
    font-size: 12px;
    color: #999999;
    margin: 0 40px;
  }
}
