@import "variable";
@import "clearfix";

.chat-main {
  height: 100vh;
  width: calc(100vw - 300px);
  float: left;
  &__header {
    height: 15%;
    border: 1px solid #eeeeee;
    &--group {
      margin: 0 40px;
      @include clearfix();
      &-name {
        font-size: 20px;
        color: #333333;
        margin: 35px 0 15px;
        float: left;
      }
      &-edit-btn {
        font-size: 16px;
        color: $blue-color;
        padding: 12px 20px;
        margin: 28px 20px 0;
        border: 1px solid $blue-color;
        float: right
      }
    }
  }
  &__header-members {
    font-size: 12px;
    color: $grey-color;
    margin: 0 40px;
  }
  &__body {
    height: calc( 100vh - 15% - 92px );
    padding: 0 40px;
    overflow: scroll;
    &--messages-list {
      padding: 26px 0 0;
    }
  }
  &__message {
    padding: 20px 0;
    @include clearfix();

    &-name {
      color: $sentence-color;
      font-size: 16px;
      font-weight: bold;
      float: left;
    }
    &-time {
      color: $grey-color;
      font-size: 12px;
      padding: 0 10px 10px;
      float: left;
    }
    &-body {
      color: $sentence-color;
      font-size: 14px;
      clear: both;
    }
  }
  &__footer {
    height: 90px;
    width: 100%;
    background-color: #cccccc;
    &-form {
      margin: 0 40px;
      position: relative;
    }
    &-body {
      position: relative;
      .message {
        height: 50px;
        width: calc( 100% - 150px );
        padding: 0px 10px;
        margin: 20px 0;
        border: none;
      }
      .chat-file {
        height: 50px;
        width: 40px;
        margin: 32px 130px 20px 0;
        position: absolute;
        top: 0;
        right: 0;
      }
    }
    .submit {
      width: 100px;
      height: 50px;
      margin: 20px 0;
      color: white;
      background-color: $blue-color;
      position: absolute;
      top: 0;
      right: 0;
      border: none;
    }
  }
}

.hat-main__header--group-edit-btn-text {
  color: $blue-color;
}
